body {
  margin: 0;
  padding: 10px;

  .menu {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: cornsilk;
    text-align: center;
    font-weight: bold;
    font-family: arial, verdana, sans-serif;

    span {
      margin: 10px;
      padding: 10px;
      background: #a5a5a5;
      cursor: pointer;
    }
  }

  .visivel{
    display: block;
  }

  .oculto {
    display: none;
  }

  #pagina1 {}

  #pagina2 {}

  #pagina3 {
    label {
      display: block;

    }

    input {
      background-color: #ffffff;
      margin: 0 0 15px 0;
    }

    textarea {
      display: block;
      margin: 0 0 15px 0;
    }
    button {
      display: block;
    }
  }

}